body {
    text-align: center;
}

h1 {
    font-size: 50px;
}

#board {
    margin: auto;
    background: black;
    height: 478px;
    width: 490px;
}


.box {
    vertical-align: top;
    display: inline-block;
    border: 4.5px solid black;
    text-align: center;
    font-size: 120px;
    font-family: 'Architects Daughter', cursive;
    background: white;
    color: black;
    height: 150px;
    width: 150px;
}

#turn {
    font-size: 50px;
    color: red;
}

#reset {
    height: 30px;
    font-size: 20px;
    
}

#scoreboard {
    margin: auto;
    height: 400px;
    width: 600px;
    position: relative;
    background: rgb(1, 102, 1);
    border: 10px solid rgb(165, 95, 42);
    top: 50px;
}

table {
    position: relative;
    top: 20px;
    background: rgb(1, 102, 1);
    margin: auto;
    width: 400px;
    height: 300px;
    font-family: 'Architects Daughter', cursive;
    font-size: 35px;
    color: white;
}

th {
    height: 40px;
    border-bottom: 2px solid white;
}

td {
    border: 2px solid white;
    font-size: 50px;
    letter-spacing: 4px;
}

footer{
    height: 500px;
}