body {
    text-align: center;
}

#board {
    margin: auto;
    background: black;
    height: 480px;
    width: 490px;
}


.box {
    display: inline-block;
    border: 4.5px solid black;
    text-align: center;
    font-size: 70px;
    background: white;
    color: black;
    height: 150px;
    width: 150px;
}
